body, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url();
}

/* Barra lateral fixa no desktop */
.sidebar {
    width: 250px;
    height: 100vh;
    background: url();
    color: rgb(92, 56, 56);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Barra lateral visível em telas grandes */
.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    background: #2c3e50;
    color: #ddd;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #4a6e92;
}

.sidebar ul li a {
    color: rgb(12, 11, 11);
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #394047;
}

/* Estilo para o conteúdo principal */
.content {
    margin-left: 250px;
    padding: 20px;
}

h2 {
    color: #2c3e50;
    font-size: 26px;
    margin-bottom: 20px;
}

.section {
    display: none;
}

#vendedor {
    display: block;
}

.form-container {
    margin-bottom: 30px;
}

.form-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-container button {
    padding: 10px 15px;
    background-color: #27ae60;
    color: rgb(175, 133, 133);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #2ecc71;
}

.fruit-list h3 {
    font-size: 20px;
    margin-top: 20px;
}

.fruit-list ul {
    list-style-type: none;
    padding-left: 0;
}

.fruit-list ul li {
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-250px);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }

    .section {
        display: block;
    }
}

/* Estilo do botão verde */
.green-btn {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.green-btn:hover {
    background-color: #45a049; /* Tom de verde mais escuro ao passar o mouse */
}

/* Estilo do link para o botão */
.green-btn-link {
    text-decoration: none; /* Remove o sublinhado do link */
}
