/* Resetando o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background: url(assets/farm-desktop-ct4tnwgupjq73d1r.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.login-box {
    background: url(assets/Fazenda-em-garantia-de-credito-rural-posso-perder.jpg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
  
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color:white/* Cor principal */
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
  color:white;/* Cor principal */
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.input-group input:focus {
    border-color: #003a5d; /* Cor de destaque no foco */
}

.button-group {
    margin-top: 20px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #f32424; /* Vermelho das Casas Bahia */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #c01e1e; /* Cor do botão ao passar o mouse */
}

.links {
    margin-top: 15px;
    font-size: 14px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.links a:hover {
    text-decoration: underline;
}
